<% include ../partials/boilerplate %>

<div class='all'>
  <h1>List</h1>
</div>

  <div class='todos-container'>
    <% for (let todos of data) { %>
      <div class='todos'>
        <h2><%= todos.title %></h2>
        <h3><%= todos.category %></h3>
        <h3><%= todos.info %></h3>
        <h4><%= todos.status %></h4>
        <div class='links'>
          <a class='linkto' href='/todos/<%= todos.id%>'>View All</a>
          <form method='POST' action='/todos/<%= todos.id %>?_method=DELETE'>
            <input type='submit' value='Delete it!' />
          </form>
        </div>
      </div>
    <% } %>
  </div>

<% include ../partials/end %>
